<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans" style="position: static;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="有赞,移动电商服务平台">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">
  <meta name="referrer" content="always">
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <title>购物车</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <link rel="stylesheet" href="./css/cart_base.css">
  <link rel="stylesheet" href="./css/cart_trade.css">
  <link rel="stylesheet" href="./css/cart.css"> -->
</head>

<body class=" body-fixed-bottom" style="">
  <div id="app">
  <div class="container " style="min-height: 581px;">
    <div class="content clearfix js-page-content">
      <div id="cart-container">
        <div>
          <!---->
          <!---->
          <!---->
          <div class="js-shop-list shop-list" v-for='(shop, shopIndex) in lists'>
            <div class="block block-order block-cart" >
              <div class="header">
                <div class="select-group js-select-group" @click='selectShop(shop)'>
                  <!-- <span class="check " :class='{checked:shop.selected}' v-show='!editingShop'></span> -->
                  <span class="check " :class='{checked:editingShop? shop.removeChecked:shop.selected}'  ></span>
                </div> 
                <a class="shop-title"><i class="custom-store-img">店铺：</i>{{shop.shopTitle}}</a>
                <a href="javascript:;" data-type="cart" 
                @click='edit(shop, shopIndex)'
                class="j-edit-list pull-right c-blue font-size-12 edit-list">
                  <!---->
                  {{shop.editingMsg}}
                </a>
              </div>
              <!---->
              <div>
                <ul class="js-list block block-list block-list-cart border-0">
                  <li class="block-item block-item-cart" 
                  :class='{editing:shop.editing}'
                  :ref="'goods-'+shopIndex+'-'+goodsIndex"
                   v-for='(item, goodsIndex) in shop.goodsList'
                  :key="item.id"
                   @touchstart = 'start($event,item)'
                   @touchend='end($event, shopIndex,item,goodsIndex)'
                   >
                    <div>
                      <div class="check-container">
                        <!-- <span class="check " :class='{checked:item.selected}'></span> -->
                        <span class="check " :class='{checked:editingShop?item.removeChecked:item.selected}'  @click='getCheck(shop,item)' ></span>
                      </div>
                      <div class="name-card clearfix">
                        <a  class="thumb js-goods-link"><img class="js-lazy" :src="item.img">
                          <!---->
                        </a>
                        <div class="detail"><a  class="js-goods-link"><h3 class="title js-ellipsis"><i>{{item.title}}</i></h3></a>
                          <p class="sku ellipsis">
                            {{item.sku}}
                          </p>
                          <div class="num" v-show='!shop.editing'>
                            ×<span class="num-txt" >{{item.number}}</span>
                            <!---->
                          </div>
                          <div class="num" v-show='shop.editing'>
                            <div class="quantity">
                              <button class="minus" type="button"  :class='{disable:item.number ===1}'></button>
                              <input type="text" class="txt" pattern="[0-9]*" min=1 v-model.number="item.number">
                              <button class="plus" type="button" ></button>
                              <div class="response-area response-area-minus" @click='reduce(item)'></div>
                              <div class="response-area response-area-plus" @click='add(item)'></div>
                            </div>
                          </div>
                          <div class="price c-orange">
                            ¥<span>{{item.price}}</span></div>
                        </div>
                        <div class="error-box"></div>
                      </div>
                      <div class="delete-btn" @click='remove(shop,shopIndex,item,goodsIndex)'><span>删除</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
          </div>
          
          <div style="padding:0;" class="js-bottom-opts bottom-fix">
            <div class="go-shop-tip js-go-shop-tip c-orange font-size-12">
              你需要分开结算每个店铺的商品哦~
            </div>
            <div class="bottom-cart clear-fix">
              <div class="select-all" @click='selectAll'>
                <span class="check" :class='{checked:editingShop?allRemoveSelected: allSelected}' ></span>
               全选
              </div>
              <!-- 显示状态 -->
              <div class="total-price" v-show='!editingShop' >
                合计：¥<span class="js-total-price" style="color: rgb(255, 102, 0);">{{total}}</span>
                <p class="c-gray-dark">不含运费</p>
              </div>
              <button href="javascript:;" :disabled='!selectLists.length'  class="js-go-pay btn btn-orange-dark font-size-14" v-show='!editingShop'>
                结算
              </button>
              <!-- 编辑状态 -->
              <button href="javascript:;" :disabled="!removeLists.length" class="j-delete-goods btn font-size-14 btn-red" v-show='editingShop'>删除
                    </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="V3lfhBNXkI" v-show="removePopup" style="height: 100%; position: fixed; top: 0px; left: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.7); z-index: 1000; opacity: 1; transition: none 0.2s ease 0s;" ></div>
  <div id="S4cE4sWQs8" v-show="removePopup" class="popout-confirm popout-box" style="overflow: hidden; visibility: visible; display: block; opacity: 1; position: absolute; z-index: 1000; transition: opacity 300ms ease 0s; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0px); border-radius: 4px; background: white; width: 270px; padding: 15px;">
    <div class="header c-green center">
        确定要删除该商品吗？
    </div>
    <!-- <hr style="margin:9px -15px 10px;"> -->
    <div class="btn-2-1">
      <p class='js-cancel center font-size-16' style='padding-top:5px;'>取消</p>
    </div>
    <div class="btn-2-1">
      <p class='js-cancel center font-size-16' style='padding-top:5px;' @click='removeConfirm'>确定</p>
    </div>
  </div>
  
</div>
</div>
  <div class="footer" style="min-height: 86px;">
    <div class="copyright">
      <div class="ft-copyright " style="background-image: url(https://img.yzcdn.cn/upload_files/2016/11/15/147918630760182374.png);">
        <a class="yz-logo" href="https://www.youzan.com/?from_source=support_logo">有赞提供技术支持</a> </div>
    </div>
  </div>
</body>

</html>
